
    
   .stu-sidebarcomp-body{
    background: rgb(5, 68, 104);
	position: fixed;
	top: 0;
	left: 0;
	width: 150px;
	height: 100%;
	padding: 20px 0;
	transition: all 0.5s ease;
   }

   .stu-sidebarcomp-inactive-body{
    background: rgb(5, 68, 104);
	position: fixed;
	top: 0;
	left: -150px;
	width: 150px;
	height: 100%;
	padding: 20px 0;
	transition: all 0.5s ease;
   }

   .stu-sidebarcomp-ul{
    padding: 0px;
    margin:0px;
    }

   .stu-sidebarcomp-li{
    display: block;
    padding: 13px 30px;
    border-bottom: 1px solid #10558d;
    color: rgb(241, 237, 237);
    font-size: 16px;
    position: relative;
   }


   .stu-sidebarcomp-li:hover{
    color: #0c7db1;
	  background:white;
    border-right: 2px solid rgb(5, 68, 104);
   }
   
   .stu-sidebarcomp-li:hover:before{
    display: block;
   }

   .stu-cardcomp-body {
    /*   background-color: #222; */
      font-family: sans-serif;
      font-size: .8rem;
      line-height: 150%;
      width: calc(100% - 150px);
	    margin-left: 150px;
	    transition: all 0.5s ease;
    }

    .stu-cardcomp-full-body{
        font-family:sans-serif;
        font-size:.8rem;
        line-height:150%;
        width: 100%;
        margin-left:0px;
        transition: all 0.5s ease;
    }
 
    .stu-navbarcomp-body{
        background: rgb(7, 105, 185);
        height: 50px;
        display: flex;
        align-items: center;
        padding: 0 20px;
        margin: 0;
    }  
    
    .stu-navbarcomp-menu{
        font-size: 1rem;
        background:rgb(233, 229, 31);
        margin:0px;
        padding:0px;
        border-top:0px;
        border-bottom: 0px;
        border-left:0px;
        border-right:0px;
        height:100%;
        width:6rem;

    }

    .stu-navbarcomp-menu:hover{
        background: rgb(211, 207, 207);
    }


    /* Setting up the responsive Grid container - auto-fit + minmax() */
    .stu-cardcomp-albums {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
      gap: 2em;
      margin: 2em;
    }
    
    
    /* Grid inside grid - album cards also use grid for layout setup */
    .stu-cardcomp-album {
      background: rgba(72, 61, 139, 0.9);
      box-shadow: 0 5px 10px rgba(0,0,0,.2);
      padding: 1.5em;
      border-radius: 1em;
      display: grid;
      grid-template-columns: 150px 1fr;
      gap: 1.5em;
      align-items: center;
      color: rgb(255, 255, 255);
      font-weight: 100;
    }
    
    
    /* Important step - image will spill over the container if width is not declared explicitly */
    .stu-cardcomp-album__artwork {
      width: 100%;
      border-radius: 0.4em;
    }
    
    
    /* Some additional text styling */
    .stu-cardcomp-h2 {
      font-size: 1.6rem;
      font-weight: 700;
      margin-bottom: 0.25em;
      
    }

    .stu-cardcomp-h3 {
        font-size: 1rem;
        font-weight: 400;
      }
    
    .stu-cardcomp-album__artist {
      opacity: 0.7;
      text-transform: uppercase;
      margin-bottom: .5em;
      font-style: oblique;
      letter-spacing: .7px;
    }


    .stu-cardcomp-album:hover{
        cursor:pointer;
        box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px;
    }
    
    .stu-cardcomp-draw-border {
        box-shadow: inset 0 0 0 4px #58cdd1;
        color: #58afd1;
        -webkit-transition: color 0.25s 0.0833333333s;
        transition: color 0.25s 0.0833333333s;
        position: relative;
      }

    .stu-cardcomp-draw-applied-border{
        box-shadow: inset 0 0 0 4px #35f51c;
        color: #4ddb22;
        -webkit-transition: color 0.25s 0.0833333333s;
        transition: color 0.25s 0.0833333333s;
        position: relative;
    }
      
      .stu-cardcomp-draw-border::before,
      .stu-cardcomp-draw-border::after {
        border: 0 solid transparent;
        box-sizing: border-box;
        content: '';
        pointer-events: none;
        position: absolute;
        width: 0rem;
        height: 0;
        bottom: 0;
        right: 0;
      }
      
      .stu-cardcomp-draw-border::before {
        border-bottom-width: 4px;
        border-left-width: 4px;
      }
      
      .stu-cardcomp-draw-border::after {
        border-top-width: 4px;
        border-right-width: 4px;
      }
      
      .stu-cardcomp-draw-border:hover {
        color: #ffe593;
      }
      
      .stu-cardcomp-draw-border:hover::before,
      .stu-cardcomp-draw-border:hover::after {
        border-color: #54eb19;
        -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
        transition: border-color 0s, width 0.25s, height 0.25s;
        width: 100%;
        height: 100%;
      }
      
      .stu-cardcomp-draw-border:hover::before {
        -webkit-transition-delay: 0s, 0s, 0.25s;
        transition-delay: 0s, 0s, 0.25s;
      }
      
      .stu-cardcomp-draw-border:hover::after {
        -webkit-transition-delay: 0s, 0.25s, 0s;
        transition-delay: 0s, 0.25s, 0s;
      }
      
      .stu-cardcomp-btn {
        background: none;
        border: none;
        cursor: pointer;
        line-height: 1.5;
        font: 700 1rem 'Roboto Slab', sans-serif;
        padding: 0.75em 2em;
        letter-spacing: 0.05rem;
        margin: 1em;
        width: 13rem;
      }
      
      .stu-cardcomp-btn:focus {
        outline: 2px dotted #55d7dc;
      }
      